/*** GENERIC ***/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}

.container {
	display: flex;
}

/*** HEADER ***/
header {
	width: 100%;
	height: 70px;
	padding: 10px;
	background: #ff6900;
	color: white;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 35px;
}

/*** MAIN ***/

main {
	height: calc(100vh - 70px);
	overflow-y: auto;
	padding: 20px;
}